@use '../../../styles.module.scss' as styles;

.section {
  display: flex;
  justify-content: left;
  font-size: large;
  color: styles.$font-color;
  padding: 16px;
  width: 50%;
  cursor: pointer;

  &.inactive {
    opacity: 0.5;
  }

  &.active {
    font-weight: bold;
  }

  
}
