$bg-color: rgb(19 78 74);
$border-color: #fff;
$font-color: #fff;
$active-link-color: #fff;
$hover-link-color: #ccc;
$inactive-link-color: #aaa;

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $bg-color;
  min-height: 100vh;
  padding: 0% 10%;
  color: $font-color;
}