.pageWrapper {
  position: relative;
  width: 100%;
}

.scrollWrapper {
  position: relative;
  width: 100%;
  z-index: var(--overlay-plus-one-z-index);
}

.timeline {
  display: flex;
  align-items: center;
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}

.entryWrapper {
  position: relative;
}
