@use '../../styles.module.scss' as styles;

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: styles.$bg-color;
  color: styles.$font-color;
  min-height: 100vh;
  height: 100vh;
  width: 35%;
}

.link {
  display: flex;
  justify-content: left;
  font-size: large;
  color: styles.$font-color;
  padding: 16px;
  width: 50%;
  cursor: pointer;

  &.inactive {
    opacity: 0.5;
  }

  &.active {
    font-weight: bold;
  }
}